h1
{
    color:aqua
}
p
{
    border-style: solid;
    padding: 15px;
    color:aqua;
    display:flex;
    flex-direction: column;
    font-size:large;
}
body
{
    background-color: black;
    width:auto;
    height: auto;
}
button
{
    width: 100px;
    height: 50px;
    border-color:aqua;
    border-style: solid;
}
#Trailer1
{
    color:turquoise;
    background-color: rgb(8, 8, 8);
}
#Adquirir
{
    color:turquoise;
    background-color: rgb(8, 8, 8);
}
#Plataformas
{
    text-align:left;
    width: 150px;
}