h1
{
    color:aqua
}
p
{
    border-style: solid;
    padding: 15px;
    color:aqua;
    display:flex;
    flex-direction: column;
}
body
{
    background-color: black;
}
button
{
    width: 100px;
    height: 50px;
    border-color:rgb(9, 207, 241);
    border-style: solid;
}
#Trailer1
{
    color:turquoise;
    background-color: rgb(8, 8, 8);
}